# Downloading Historical Price Data Using the OpenBB SDK

This notebook demonstrates the different ways to approach loading historical price data using the OpenBB SDK.  There are obvious methods, and some less conventional ones. To begin, let's look at the Stocks module, but first, we need to initialize the notebook with the import statements block.

## Import Statements

In [1]:
import pandas as pd
from openbb_terminal.sdk import openbb

## The Stocks Module

The `load` function is likely the first place to reach when requesting daily, or intraday, historical price data.  `openbb.stocks.load()` is a versatile data aggregator, and not only for stocks.

### openbb.stocks.load()

The input parameters for the function:

```python
Parameters
----------
symbol: str
    Ticker to get data
start_date: str or datetime, optional
    Start date to get data from with. - datetime or string format (YYYY-MM-DD)
interval: int
    Interval (in minutes) to get data 1, 5, 15, 30, 60 or 1440
end_date: str or datetime, optional
    End date to get data from with. - datetime or string format (YYYY-MM-DD)
prepost: bool
    Pre and After hours data
source: str
    Source of data extracted
weekly: bool
    Flag to get weekly data
monthly: bool
    Flag to get monthly data
verbose: bool
    Display verbose information on what was the symbol that was loaded
```


Set `verbose = False` to silence the console print.  Execute the two cells below to demonstrate.

In [2]:
df_daily = openbb.stocks.load(symbol = 'spy')

Loading Daily data for SPY with starting period 2020-05-18.

In [3]:
df_daily = openbb.stocks.load(symbol = 'spy', verbose = False)

To load the entire history available from a source, pick a starting date well beyond what it might be. For example, `1900-01-01`

In [4]:
df_daily = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01')

Loading Daily data for SPY with starting period 1993-01-29.

Weekly and monthly intervals are selected with either argument as `True`.

In [5]:
df_weekly = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01', weekly = True)

Loading Weekly data for SPY with starting period 1993-01-25.

In [6]:
df_monthly = openbb.stocks.load(symbol = 'spy', start_date = '1990-01-01', monthly = True)

Loading Monthly data for SPY with starting period 1993-02-01.

The default settings retrieve daily, intraday data is selected using the `interval = N` argument.

In [7]:
df_1min = openbb.stocks.load(symbol = 'spy', interval = 1)

Loading Intraday 1min data for SPY with starting period 2023-05-16.

In [8]:
df_5min = openbb.stocks.load(symbol = 'spy', interval = 5)

Loading Intraday 5min data for SPY with starting period 2023-03-24.

In [9]:
df_15min = openbb.stocks.load(symbol = 'spy', interval = 15)

Loading Intraday 15min data for SPY with starting period 2023-03-24.

In [10]:
df_30min = openbb.stocks.load(symbol = 'spy', interval = 30)

Loading Intraday 30min data for SPY with starting period 2023-03-24.

When the source is `YahooFinance`, the standard default, the amount of intraday history available varies by interval.  One hour candles have the longest history, 2 years.  Other sources, such as Polygon, offer total market coverage for 10+ years of historical prices at all granularities.  For demonstration purposes, it is simple, effective, and accessible to use yFinance as the source.

In [11]:
df_60min = openbb.stocks.load(symbol = 'spy', interval = 60)

Loading Intraday 60min data for SPY with starting period 2021-05-24.

Include pre/post market data by setting the argument, `prepost = True`.  **Note**: an interval must also be selected.

In [12]:
df_prepost = openbb.stocks.load(symbol = 'spy', start_date = '2023-03-22', prepost = True, interval = 1)

df_prepost.tail(3)

Loading Intraday 1min data for SPY with starting period 2023-05-16.

,Open,High,Low,Close,Adj Close,Volume
date,,,,,,
2023-05-22 10:55:00,418.380005,418.459991,418.320007,418.390015,418.390015,144608
2023-05-22 10:56:00,418.399994,418.440002,418.230011,418.260010,418.260010,103038
2023-05-22 10:57:00,418.269989,418.269989,418.269989,418.269989,418.269989,0

It is also possible to load individual options contracts using the same syntax.  There will be gaps in the historical data when the contract has zero volume.

In [13]:
spy251219P00400000 = openbb.stocks.load(symbol = 'spy251219P00400000')

Loading Daily data for SPY251219P00400000 with starting period 2023-01-09.

In [14]:
spy251219P00400000

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
date,,,,,,,,
2023-01-09,49.779999,49.779999,47.250000,47.250000,47.250000,26,0.0,0.0
2023-01-10,47.000000,47.000000,47.000000,47.000000,47.000000,1,0.0,0.0
2023-01-11,47.090000,47.090000,47.090000,47.090000,47.090000,4,0.0,0.0
2023-01-12,46.080002,46.080002,46.080002,46.080002,46.080002,1,0.0,0.0
2023-01-13,47.000000,47.000000,43.400002,43.950001,43.950001,151,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-05-08,36.959999,37.000000,36.599998,36.599998,36.599998,141,0.0,0.0
2023-05-15,37.630001,37.630001,36.750000,36.750000,36.750000,4,0.0,0.0
2023-05-16,36.000000,36.000000,36.000000,36.000000,36.000000,5,0.0,0.0
2023-05-17,36.590000,36.590000,36.590000,36.590000,36.590000,1,0.0,0.0
2023-05-18,34.650002,34.650002,34.650002,34.650002,34.650002,0,0.0,0.0

Currency pairs can also be loaded.  When the source is `YahooFinance`, the symbol will be the two currencies with `=X`.

- For Polygon, the symbol is: `C:EURUSD`
- For AlphaVantage, the symbol is: `EURUSD`

In [15]:
eurusd_daily = openbb.stocks.load(symbol = 'EURUSD=X', start_date = '1900-01-01')

Loading Daily data for EURUSD=X with starting period 2003-12-01.

In [16]:
eurusd_60min = openbb.stocks.load(symbol = 'EURUSD=X', start_date = '1900-01-01', interval = 60)

Loading Intraday 60min data for EURUSD=X with starting period 2021-05-24.

Crypto pairs work in a similar way, but with a different syntax.

- YahooFinance: `BTC-USD`
- Polygon: `X:BTCUSD`
- AlphaVantage: `BTCUSD`

In [17]:
btcusd_15min = openbb.stocks.load(symbol = 'BTC-USD', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for BTC-USD with starting period 2023-03-24.

In [18]:
btceur_15min = openbb.stocks.load(symbol = 'BTC-EUR', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for BTC-EUR with starting period 2023-03-24.

In [19]:
ethusd_daily = openbb.stocks.load(symbol = 'ETH-USD', start_date = '1900-01-01')

Loading Daily data for ETH-USD with starting period 2017-11-09.

In [20]:
etheur_15min = openbb.stocks.load(symbol = 'ETH-EUR', start_date = '1900-01-01', interval = 15)

Loading Intraday 15min data for ETH-EUR with starting period 2023-03-24.

The continuous front month futures contract is loaded with `=F` attached.  For example, WTI crude oil futures:

In [21]:
wti = openbb.stocks.load(symbol = 'CL=F', start_date='1900-01-01')

Loading Daily data for CL=F with starting period 2000-08-23.

An active, individual, contract with trading volume can also be loaded.  For example, the December 2027 contract:

In [22]:
wti_dec27 = openbb.stocks.load(symbol = 'clz27.nym', start_date = '2000-01-01')

Loading Daily data for CLZ27.NYM with starting period 2020-01-24.

Indices have their own symbology, YahooFinance preceeds the ticker symbol with, `^`.

In [23]:
vix = openbb.stocks.load(symbol = '^VIX', start_date = '1900-01-01')

Loading Daily data for ^VIX with starting period 1990-01-02.

What the `load` function **cannot** do is batch download.  For this type of functionality, we need to stretch our wings and use one of the other functions.

### openbb.stocks.ca.hist()

This function, within the Comparison Analysis sub-module, offers the ability to return data for multiple tickers as a single Pandas DataFrame, and targeting a single data point.  Choices are: open, high, low, close, adjust close, volume, and return.  It is chosen by using the optional argument, `candle_type`, with the first letter of the candle type as the value - `a` for Adjusted Close.  The list of tickers must be encapsulated with square brackets [] and quotation marks for each individual symbol.

In [24]:
tickers = ["META", "AAPL", "AMZN", "NFLX", "GOOG", "MSFT", "TSLA"]
df_compare = openbb.stocks.ca.hist(similar = tickers, candle_type = 'a')

df_compare.tail(3)

NaN values found in: AMZN.  Backfilling data

,META,AAPL,AMZN,NFLX,GOOG,MSFT,TSLA
Date,,,,,,,
2023-05-18,246.850006,175.050003,118.150002,371.290009,123.519997,318.519989,176.889999
2023-05-19,245.639999,175.160004,116.250000,365.359985,123.250000,318.339996,180.139999
2023-05-22,251.160004,173.779999,NaN,366.720001,126.144997,321.739990,184.570007

## The Economy Module

It may not be an obvious choice, but it can get the job done in a similar way as `openbb.stocks.ca.hist()`.

### openbb.economy.index()

This function can be coaxed into completing the same task, with slight differences being the `column` argument, and `returns` is a boolean choice for calculating the cumulative returns over the entire history.

In [25]:
df_compare2 = openbb.economy.index(indices = tickers, column = 'Adj Close')

df_compare2.tail(3)

,META,AAPL,AMZN,NFLX,GOOG,MSFT,TSLA
Date,,,,,,,
2023-05-18,246.850006,175.050003,118.150002,371.290009,123.519997,318.519989,176.889999
2023-05-19,245.639999,175.160004,116.250000,365.359985,123.250000,318.339996,180.139999
2023-05-22,251.149994,173.779999,114.544998,366.720001,126.144997,321.709991,184.540100

Some daily historical prices, or index levels, are part of the FRED library.  For example, the Nasdaq Composite Index.

In [29]:
nasdaq = openbb.economy.fred(["NASDAQCOM"])

# Note that the return from FRED is a Tuple, and the second element is the Series ID and description.

print(nasdaq[1])

nasdaq[0].tail(3)

{'NASDAQCOM': {'title': 'NASDAQ Composite Index', 'units': 'Index Feb 5, 1971=100'}}

            NASDAQCOM
2023-05-17   12500.57
2023-05-18   12688.84
2023-05-19   12657.90

## The Crypto Module

Similarly, the `crypto` module has its own nuances.

### openbb.crypto.load()

This version of the `load` function has three sources: `YahooFinance`, `CoinGecko`, and `CCXT`. Selecting `CCXT` will activate the `--exchange` argument, which allows the user to target a specific venue.  

Choices of exchange are: [

    ace,alpaca,ascendex,bequant,bigone,binance,binancecoinm,binanceus,binanceusdm,bit2c,bitbank,bitbay,bitcoincom,
    bitfinex,bitfinex2,bitflyer,bitforex,bitget,bithumb,bitmart,bitmex,bitopro,bitpanda,bitrue,bitso,bitstamp,bitstamp1,
    bittrex,bitvavo,bkex,bl3p,btcalpha,btcbox,btcex,btcmarkets,btctradeua,btcturk,buda,bybit,cex,coinbase,coinbaseprime,coinbasepro,
    coincheck,coinex,coinfalcon,coinmate,coinone,coinspot,cryptocom,currencycom,delta,deribit,digifinex,exmo,flowbtc,fmfwio,gate,
    gateio,gemini,hitbtc,hitbtc3,hollaex,huobi,huobijp,huobipro,idex,independentreserve,indodax,itbit,kraken,krakenfutures,kucoin,
    kucoinfutures,kuna,latoken,lbank,lbank2,lykke,mercado,mexc,mexc3,ndax,novadax,oceanex,okcoin,okex,okex5,okx,paymium,phemex,
    poloniex,poloniexfutures,probit,ripio,stex,tidex,timex,tokocrypto,upbit,wavesexchange,wazirx,whitebit,woo,yobit,zaif,zb,zonda
]

**Note**: Asset coverage and history varies by exchange.  Binance may have access restrictions for US-based users.

In [30]:
btc_usdt = openbb.crypto.load(symbol = 'BTC', to_symbol = 'USDT', source = 'CCXT', exchange = 'bitcoincom', start_date = '2010-01-01')

In [31]:
btc_usdt

                Open      High       Low     Close      Volume
date
2013-12-27    777.00    779.00    694.84    742.43  1502.36000
2013-12-28    710.46    752.42    672.80    732.42  4583.78000
2013-12-29    699.61    750.01    690.50    746.28  4718.43000
2013-12-30    715.05    758.58    710.40    721.52  4824.67000
2013-12-31    721.99    756.09    698.17    722.58  4821.72000
...              ...       ...       ...       ...         ...
2023-05-18  27412.94  27478.18  26370.67  26824.46  6122.14291
2023-05-19  26818.90  27175.07  26637.68  26882.36  3745.86633
2023-05-20  26881.73  27147.59  26827.33  27102.86  1866.26447
2023-05-21  27104.46  27277.00  26667.45  26751.54  3528.06387
2023-05-22  26749.61  27093.47  26536.93  26901.10  3985.02463

[3431 rows x 5 columns]

### openbb.crypto.dd.mt()

This function returns crpyto time-series data from Messari, selectable by `timeseries_id`. Find the appropriate value with, `openbb.crypto.dd.get_mt()`.

In [32]:
openbb.crypto.dd.get_mt()

,Title,Description,Requires Paid Key,Sources
id,,,,
sply.total.iss,Total Issuance,The sum USD value of all new native units issu...,False,Coinmetrics
sply.circ,Circulating Supply,The circulating supply acknowledges that token...,False,
txn.fee.avg,Average Transaction Fees,The USD value of the mean fee per transaction ...,False,Coinmetrics
txn.tfr.val.adj.ntv,Adjusted Transaction Volume (Native Units),The sum of native units transferred between di...,False,Coinmetrics
txn.tfr.erc721.cnt,ERC-721 Transfer Count,The sum count of ERC-721 transfers in that int...,False,Coinmetrics
...,...,...,...,...
mcap.circ,Circulating Marketcap,The circulating marketcap is the price of the ...,False,"Messari,Kaiko"
cg.sply.circ,Circulating Supply (CoinGecko),The circulating supply acknowledges that token...,False,
real.vol,Real Volume,It is well known that many exchanges conduct w...,False,Kaiko
twitter.followers,Twitter Followers,The number of followers of the asset's primary...,False,CoinGecko
reddit.subscribers,Reddit Subscribers,The number of subscribers on the asset's prima...,False,Reddit

In [33]:
openbb.crypto.dd.mt('eth', timeseries_id='price', start_date = '2010-01-01', interval = '1w')[0]

                   open         high          low        close        volume
timestamp
2015-08-10     0.648707     2.237367     0.603205     1.608072  2.097282e+06
2015-08-24     1.322712     1.388551     1.052930     1.317280  5.410970e+05
2015-09-07     1.306615     1.317278     0.915953     0.934512  4.992946e+05
2015-09-21     0.958794     0.959938     0.700710     0.725005  2.127151e+05
2015-10-05     0.670480     0.692221     0.592912     0.640576  1.482326e+05
...                 ...          ...          ...          ...           ...
2023-04-17  2119.946792  2124.773781  1825.870872  1862.347251  1.688352e+10
2023-04-24  1862.415979  1964.871858  1788.171822  1871.279988  1.601219e+10
2023-05-01  1871.241099  2020.697828  1807.152925  1876.106590  1.490494e+10
2023-05-08  1876.432076  1893.804134  1740.316450  1800.125067  1.356115e+10
2023-05-15  1800.005357  1847.083266  1771.691096  1805.469747  8.322231e+09

[212 rows x 5 columns]

These examples represent only a few methods of getting historical price data.  Explore the contents of each module to find more!